@media only screen and (min-width: 823px) {

    .header
    {
        height: 10.5em;
    }

    header a
    {
        font-size: 1.5em;
    }

    header nav
    {
        height: 1em;
    }

    header nav ul 
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0px;
        margin: 0px;
        max-width: 80%;
        margin-left: 10%;
    }

    header nav ul.hide
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: none;
        margin: none;
    }

    header.show
    {
        height: 12em;
    }

    header.hide
    {
        height: 12em;
    }

    header nav ul li
    {
        flex-grow: 1;
        margin: 0px;
        height: 2.4em;
    }

    header nav ul li a
    {
        text-decoration: none;
        padding: 0px;
        border-right: 1px solid white;
        border-bottom: 1px solid transparent;
        line-height: 2em;
    }

    header nav ul li:last-child a
    {
        border-bottom: none;
        border-right: none;
    }

    button.navbutton
    {
        display: none;
    }

    .grid-container
    {
        column-count: 2;
        column-gap: 1em;
    }

    .grid-img img
    {
    }

    img.artist
    {
        height: 17em;
        margin: 1em;
        margin-bottom: .5em;
        margin-top: .2em;
        float: left;
    }

    img.artistart
    {
        height: 25em;
        margin: 1em;
        margin-bottom: .5em;
        margin-top: .2em;
        float: right;
    }

    .artselection
    {

    }

    .artselection a
    {
        text-decoration: none;
        color: white;
        font-size: 2em;
        text-align: center;
        border: 3px solid white;
        margin-bottom: .5em;
        padding: .3em;

    }

    .artselection img
    {
        width: 100%;
        margin-bottom: 2em;
    }

    .artselectionbox
    {
        
    }

    .artselectionbox img
    {
   
    }
}