table
{
    font-family: Ubuntu, sans-serif;
    background-color: lightgray;
    box-shadow: 7px 7px 15px #628ca6;
    border-spacing: 1px;
    table-layout: fixed;

    margin-top: 10%;
}

th, td
{
    padding: 3%;
}

thead tr:nth-child(1)
{
    background-color: #7fb9c2;
    font-size: 1.5em;
}

thead tr:nth-child(2)
{
    background-color: #628ca6;
    color: white;
}

td
{
    white-space: nowrap;
     width: 1vw;
}

tbody tr:nth-child(1)
{
    background-color: #e7f0ed;
}

tbody tr:nth-child(2)
{
    background-color: #e7ffed;
}

tbody tr:nth-child(3)
{
    background-color: #e7f0ed;
}

tbody tr:nth-child(4)
{
    background-color: #e7ffed;
}

.highlight
{
    background-color: #628ca6;
    color: white;
}

tbody tr:nth-child(5)
{
    background-color: #e7f0ed;
}

tbody tr:nth-child(6)
{
    background-color: #e7ffed;
}


tfoot tr:nth-child(1)
{
    background-color: #7fb9c2;
}