table
{
    font-family: Ubuntu, sans-serif;
    background-color: lightgray;
    box-shadow: 7px 7px 15px #628ca6;
    border-spacing: 1px;
}

th, td
{
    padding: .6em;
    font-weight: bold;
}

thead, tbody, tfoot
{
    text-align: center;
}

thead tr:nth-child(1)
{
    background-color: #7fb9c2;
    font-size: 1.5em;
}

thead tr:nth-child(2)
{
    background-color: #628ca6;
    color: white;
}

tbody tr:nth-child(odd)
{
    background-color: #e7f0ed;
}

tbody tr:nth-child(even)
{
    background-color: #e7ffed;
}

tbody tr:nth-child(5) td:nth-child(1) 
{
    font-style: italic;
}

.highlight
{
    background-color: #628ca6;
    color: white;
}

tfoot tr:nth-child(1)
{
    background-color: #7fb9c2;
    font-weight: 
}