/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}

body {
    font-size: 16px;
    font-family: verdana, geneva, sans-serif; 
    
    background-color: aquamarine;
    min-width: 0px;
    max-width: 100vw;
}

header, nav, main, footer 
{
    max-width: 95%; 
}

header h1 
{ 
    display: inline-block;

    max-width: 70%;

    margin-top: 3%;
    margin-left: 0.5%;
    margin-right: 25px;

    font-size: 5vw;
    
    color: dimgray
}

header img 
{
    max-height: 100%;
    max-width: 30%;
    
    float: left;
    
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
    
}

header .subheading 
{
    position: relative;
    left: 25vw;
    top: -4vw;
    
    font-size: 4vw;
    color: gray;
    
    margin-right: 20px;
    margin-bottom: 20px;
}

button.navbutton
{
    position: relative;
    left: 5vw;
    top: -8vw;
    
    margin-right: 5px;
    
    border: none;
    
    background: none;

}

div.button-holder
{
    float: right;
    margin-left: 10px;
    padding-left: 0px;
}

nav 
{
    display: none;
}

nav ul 
{
    display: inline-block;
    
    margin: 0px;
    
    padding: 2vw;
}

nav ul li 
{
    display: inline-block;
    
    font-size: 2.8vw
}

nav ul li a 
{
    text-decoration: none;
    padding-right: 1vw;
    padding-left: 1vw;
    border-right: 1px solid black;
}

nav ul li:last-child a
{
    text-decoration: none;
    border-right: none;
}

nav ul li a:hover 
{
    text-shadow: 0px 0px 18px #2492fe;
}

main figure 
{ 
    margin: 0 0 .2rem 2%; 
    width: 100.6%;
    height: 47.474vw;
    overflow: hidden;
    border: 1px solid black;
    box-shadow: 3px 3px 5px gray;
}

main figure img 
{ 
    height: 47vw;
}

main h2
{
    text-align: center;
    font-size: 2.5em;
    color: dimgray;
}

main h3
{
    text-align: center;
    font-size: 4vw;
    color: dimgray;
}

main section.forecast h3
{
    text-align: center;
    font-size: 5vw;
    color: dimgray;
    width: 100%;
    margin-left: 6%;
}

div.current
{
    text-align: center;
    font-size: 2em;
    0176
}

div.current p
{
    display: inline-block; 
    color: gray;
}

div.current img
{
    vertical-align: middle;
    margin-left: 2%;
}

.highlow
{
    text-align: center;
    margin-top: 10px;
}

.highlow p
{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
}

.conditions
{
    text-align: center;
    margin-top: 10px;
}

.conditions p
{
    margin-left: 20px;
    margin-right: 20px;
}

section.forecast 
{ 
    display: none;
}

article
{
    margin-left: 5%;
    border: 1px solid black;
    padding-top: 1%;

}

article h3
{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;

}

article p
{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 3%;

}

footer 
{
    font-size: small;
    margin-left: 2.5%;
    background-color: #2492fe;
    line-height: 7vw;
    vertical-align: middle;
}

footer section.contact
{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer section.footer-bar
{
    text-align: center;
    width 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 10px;
    background-color: #2173e4
}