/* This main css file contains the default rules and is geared toward the small/phone view */

* { box-sizing: border-box;}

body {
    font-size: 16px;
    font-family: verdana, geneva, sans-serif; /* Declare the base font-family */
    background-color: white;
    min-width: 0px;
    max-width: 100vw;
}

header, nav, main, footer { /* the comma between the selectors means apply the following CSS declarations to all of the listed elements */
    max-width: 95%; 
    /* Declare the maximum width and other main element rules to limit the stretch on larger/wider views */
}

header 
{
    width: 100vw;
}

header h1 
{ 
    display: inline-block;

    max-width: 70%;

    margin-top: 3%;
    margin-left: 0.5%;
    margin-right: 25px;

    font-size: 5vw;
}

header img 
{
    max-height: 100%;
    max-width: 30%;
    float: left;
    margin-top: 1%;
    margin-left: 2%;
    margin-bottom: 2%;
}

header .subheading 
{
    position: relative;
    left: 25vw;
    top: -6vw;
    font-size: 4vw;
    margin-right: 20px;
    margin-bottom: 20px;
}

button.navbutton
{
    position: relative;
    left: 5vw;
    top: -8vw;
    margin-right: 5px;
    border: none;
    background: none;  
    size: 102x;
   
}

div.button-holder
{
    float: right;
    margin-left: 10px;
    padding-left: 0px;
}

nav 
{
    display: none;
}

nav ul 
{
    height: auto;
    padding: 20px;
    margin: 0px;
}

nav ul li 
{
    display: inline;
    padding: 20px;
}

nav ul li a 
{
    text-decoration: none;
}

nav ul li.active a {}
nav ul li a:hover {}

main {}

main figure 
{ 
    margin: 0 0 .2rem 2%; 
    width: 100.6%;
    height: 47.474vw;
    overflow: hidden;
    border: 1px solid black;
}

main h2
{
    text-align: center;
    font-size: 2.5em;
}

main h3
{
    text-align: center;
    font-size: 4vw;
}

div.current
{
    text-align: center;
    font-size: 2em;
    0176
}

div.current img
{
    vertical-align: middle;
    margin-left: 10%;
}

main .current p
{
    display: inline-block; 
}

main figure img 
{ 
    height: 47vw;
}

.highlow
{
    text-align: center;
    margin-top: 10px;
}

.highlow p
{
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.conditions
{
    text-align: center;
    margin-top: 10px;
}

.conditions p
{
margin-left: 20px;
    margin-right: 20px;
}

section.forecast { display: none;}

footer {}