@media only screen and (min-width: 600px) {

    body
    {
        background-color: lightcoral;
    }

    /* Only CSS write declarations that need to be changed. Do not duplicated declarations that are already established in the main.css */

    nav
    {
        display: contents;
    }
    
    button.navbutton
    {
        display: none;
    }


    section.forecast { display: contents}  /* show the 10-day forecast with the medium view and up */

}