@media only screen and (min-width: 600px) {

    nav
    {
        display: contents;
    }

    nav ul li a 
    {
        text-decoration: none;
        color: black;
    }

    button.navbutton
    {
        display: none;
    }

    main figure 
    { 
        float:left;
        width: 50vw;
        height: 47vw;
        max-height: 70vw;

    }

    main figure img 
    { 

        position: relative;
        left: -12vw;

    }

    main h2
    {
        display: inline-block;

        margin-left: 10vw;
        margin-bottom: 0px;
    }

    div.right-box
    {
        display: inline-block;
        width: 43vw;
        height: 47vw;
    }

    div.current h2
    {
        font-size: 1.5vw;
    }

    div.current img
    {
        vertical-align: middle;
        margin-top: 3%;
        margin-left: 2%;
        width: 15vw;
        height: 15vw;
    }

    div.current p
    {
        margin-left: 10%;
    }

    .highlow
    {
        margin-top: 1px;
    }

    .highlow p
    {
        font-size: 2.5vw;
    }

    .conditions
    {
        margin-top: 1px;
    }

    .conditions p
    {
        margin-top: 3%;
        margin-bottom: 2px;
        font-size: 2.5vw;
    }

    section.forecast
    {
        width: 95%;
    }

    section.forecast h3
    {
        width: 95%;
    }

    section.forecast table
    {
        margin-left: 4.5vw;
        width: 95%;
        font-size: 3vw;
        color: dimgray;
        border-collapse: collapse;
        border: 1px solid black;
        box-shadow: 3px 3px 4px gray;
    }

    section.forecast th
    {
        border: 1px solid black;
    }

    section.forecast td
    {
        border: 1px solid black;
    }

    section.forecast tbody
    {
        color: gray;
    }

    section.forecast
    { 
        text-align: center;
        display: contents;
        clear: both;
    }

    article
    {
        margin-top: 2%;
        box-shadow: 3px 3px 4px gray;
    }

}